#logo{
	}

	body{
		background-color: #0ffc03;
	}


	#total-orders{
		background-color: #fcca03;
	}


	#orders-delivered{
		background-color: #c9147b;
	}

	#orders-pending{
		background-color: #145fc9;
	}